<app-search></app-search>
<span class="header">Learn the flags!</span>
<p>- Hover over flags to view in original aspect ratio
    <a [routerLink]="randomCountry()" [ngStyle]="{'font-weight': 'bold'}">- Pick a random country to learn about</a>
</p>
<app-not-found [visible]="!countries || !countries.length" resetLinkText="Reset Search"></app-not-found>
<ul>
    <li *ngFor="let country of countries">
        <a routerLink="/country/{{country.id}}">
            <img [src]="country.flagUrl" [alt]="country.name"/>
            <div class="content">

                <div class="name">
                    {{country.name}}
                </div>
                <div class="country-footer">
                    
                    <div class="population">
                      <span>👨‍👩‍👧‍👦 Population: {{country.population | number}}</span>
                    </div>

                    <div class="currency">
                        <span>💵 Currency: {{country.currency}}</span>
                        
                    </div>

                    <div class="capital">
                        <span>🏙️ Capital city: {{country.capital}}</span>
                    </div>
                </div>
            </div>
        </a>
    </li>
</ul>
