header {
    position: relative;
    background: white;
    padding: 0;
    border-bottom: 2px double #3aa45c
}

a {
    color: #3aa45c;
}

a:hover {
    background: #66d184;
    color: white;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a.logo {
    font-weight: bold;
    padding: 1rem;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

ul a{
    padding: 1rem;
    display: inline-block;
}

.nav-container {
    position: relative;
}

.nav {
    position: absolute;
    z-index: 1;
    background: whitesmoke;
    display: none;
}

.nav-container:hover .nav {
    display: block;
}

.nav a {
    width: 100%;
    min-width: 8rem;
}