.container {
    border-bottom: 4px solid #3aa45c;
    border-radius: 0.4rem;
    background: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

header {
    position: relative;
    z-index: 100000;
    padding: 0;
}
.fixed {
    position: fixed;
    width: 100%;
    transition: 0.2s linear;
    top: 0px;
}

.sticky {
    transition: 0.2s linear;
    top: -50px;
}

a {
    color: #3aa45c;
    border-radius: 0.3rem;
}

a:hover {
    background: #66d184;
    transition: 0.15s linear;
    color: white;
    cursor: pointer;
}

a.logo {
    font-weight: bolder;
    padding: 1rem;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

ul a{
    padding: 1rem;
    display: inline-block;
}

.nav-container {
    position: relative;
}

.nav {
    border-radius: 0.3rem;
    position: absolute;
    z-index: 1;
    background: whitesmoke;
    display: none;
}

.nav-container:hover .nav {
    display: block;
    width: 140%;
}

.nav a {
    width: 100%;
}