<header>
    <div class="container" (scroll)="onscroll()" [ngClass]="fixedHeader ? 'fixed' : 'sticky'">
        <a routerLink="/" class="logo">Guess the Flag!</a>
        <nav>
            <ul>
                <a routerLink="/guess">Play</a>
                <a routerLink="/scoreboard">Scoreboard</a>
                <a routerLink="/map">Map</a>
                <li *ngIf="auth" class="nav-container">
                    <a routerLink="/dashboard">{{user.name}}</a>
                    <div class="nav">
                        <a routerLink="/profile">Profile</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a *ngIf="!auth" routerLink="/login">Login</a>
                </li>
                <a href="https://github.com/Mohamed-H-A/flag-guess" target="_blank">About</a>
            </ul>
        </nav>
    </div>
</header>
