<header>
    <div class="container">
        <a routerLink="/"  class="logo">Guess the Flag!</a>
        <nav>
            <ul>
                <li class="nav-container">
                    <a routerLink="/dashboard">Play</a>
                    <div class="nav">
                        <a routerLink="/profile">Profile</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
