<div class="container">
    <div class="details">
      <app-title title="Register a new account"></app-title>
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <text-input
        [control]="fc.name"
        [showErrorsWhen]="submitted"
        label="Name">
        </text-input>
  
        <text-input
        [control]="fc.username"
        [showErrorsWhen]="submitted"
        label="Username"
        type="username">
        </text-input>
  
        <text-input
        [control]="fc.password"
        [showErrorsWhen]="submitted"
        label="Password"
        type="password">
        </text-input>
  
        <text-input
        [control]="fc.confirmPassword"
        [showErrorsWhen]="submitted"
        label="Confirm Password"
        type="password">
        </text-input>
  
        <default-button text="Register"></default-button>

        <div class="login">
            Already a user? &nbsp;
            <a routerLink="/login" [queryParams]="{returnUrl: returnUrl}">
              Login Here
            </a>
        </div>
          

      </form>
    </div>
  </div>

  