@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");


* {
    box-sizing: border-box;
}

html {
    font-size: 17px;
}

html,
button {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}