<app-not-found [visible]="!country" resetLinkText="Back to Homepage"></app-not-found>
<div *ngIf="country" class="container">
    <div class="flag">
      <img [src]="country.flagUrl" [alt]="country.name"/>
    </div>
  
    <div class="details">
        <div class="header">
          <span class="name">
            {{country.name}}
          </span>
        </div>
        <div class="continents">
            <a href="https://en.wikipedia.org/wiki/{{continent}}" target="_blank" *ngFor="let continent of country.continents">
              {{continent}}
            </a>
        </div>
        <div class="facts">
          Quick Facts: <br/><br/>
          <span>- Population of approx. ~{{country.population | number}} people</span>
        </div>

        <div class="facts">
            <span>- The official currency is the {{country.currency}}</span>           
        </div>

        <div class="facts">
            <span>- The capital city is {{country.capital}}</span>
        </div>
    </div>
    <div class="links">
      <a href="https://en.wikipedia.org/wiki/{{country.name}}" target="_blank">Learn more about {{country.name}} here</a>
      <a routerLink="/map/{{country.loc[0]}},{{country.loc[1]}}">Locate {{country.name}} in the map sandbox</a>
    </div>
  </div>
